@model IEnumerable<Crypto.WebApplication.Models.Post>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @foreach (Post post in Model)
                {
                    <div class="post-preview">
                        <h2 class="post-title"><a href=@post.PostURL>@post.PostName</a></h2>
                        <h3 class="post-subtitle">@post.CreatedAt</h3>

                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2021
                        </p>
                    </div>
                    <hr />
                }
                <!-- Pager-->
                <div class="clearfix"><a class="btn btn-primary float-right" href="#!">Older Posts →</a></div>
            </div>
        </div>

