@model CoinViewModel

@{ ViewData["Title"] = "Home Page"; }


    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2 class="post-title">
                        Here you can find the latest news regarding Cardano, all in one place.
                    </h2>
                    <br />
                    <h4 class="post-subtitle">
                        Price
                    </h4>
                    <p>The current Cardano price is <a href="https://coinmarketcap.com/currencies/cardano/"><b>@Model.LatestPrice.ToString("n2")$.</b></a></p>
                    <br />
                    <h4 class="post-subtitle">
                        Links
                    </h4>
                    <p><a href="https://roadmap.cardano.org/en/status-updates/">Cardano roadmap</a></p>
                    <h4 class="post-heading">
                        Twitter
                    </h4>
                    <p><a href="https://twitter.com/cardano?lang=en/">Cardano twitter</a></p>
                    <p><a href="https://twitter.com/iohk_charles?lang=en/">Charles Hoskinson twitter</a></p>
                </div>
            </div>
        </div>
    </div>
   

  


